<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar style="background-color: #212121; color: yellow;">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" routerLinkActive="router-link-active">Inicio</a>
      <a mat-list-item [routerLink]="['/sunglasses']" routerLinkActive="router-link-active">Gafas</a>
      <a mat-list-item [routerLink]="['/about-us']" routerLinkActive="router-link-active">Acerca de nosotros</a>
    </mat-nav-list>


    <div *ngIf="is">
      <mat-toolbar style="background-color: #212121; position: absolute; bottom: 0;">

      </mat-toolbar>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>



    <!-- Navigation bar -->
    <mat-toolbar color="primary">

      <a><img src="../../../assets/icons/navbarIcon.png" width="30" height="30" class="d-inline-block align-top"
          alt=""></a>
      <div class="espaciadorNavegador"></div>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..."
          (keyup.enter)="buscarGafas(buscarTexto.value)" #buscarTexto>
      </form>

      <div class="espaciadorNavegador"></div>

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-toolbar>

    <div class="container main-container">
      <router-outlet></router-outlet>
    </div>

    

    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>