<!-- <footer id="sticky-footer " class="py-4">
    <div class="container text-center">
        <small style="color: rgb(255, 255, 0);">Copyright &copy; Street Apparel & Accesories {{year}}</small> 
    </div>
</footer> -->

<footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn  ">
    <!--Copyright-->
    <div class="footer-copyright py-3">
        <small style="color: rgb(255, 255, 0);">Copyright &copy; Street Apparel & Accesories {{year}}</small>
    </div>
    <!--/.Copyright-->
</footer>