<div class="container animated fadeIn fast">

    <h1>Mi Carro</h1>
    <hr>

    <div class="container-fluid" *ngIf="mostrar">

        <div class="container" *ngFor="let item of lista ; let i = index;">
            <div class="row flex-column flex-lg-row">

                <div class="col-lg-6 mb-lg-0">

                    <div class="carousel slide" id="carousel-ecommerce-01" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active"><img class="img-fluid" [src]="item.objeto.url" alt=""></div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-6">
                    <h2 class="mt-4 mb-4">{{item.objeto.title}}</h2>
                    <p class="mt-4 mb-4">{{item.objeto.description}}</p>

                    <div class="d-flex align-items-center my-4">
                        <!-- <p class="m-0">$150.000</p> -->
                        <div class="btn-group ml-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-danger" (click)="operar('-',i)">-</button>
                            <button disabled type="button" class="btn btn-outline-secondary">{{item.cantidad}}</button>
                            <button type="button" class="btn btn-outline-primary" (click)="operar('+',i)">+</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <div class="row align-items-center">
            <h3>Subtotal:</h3>
            <div class="ml-5">
                <!-- <h5>$ 300.000</h5> -->
            </div>
        </div>


    </div>

    <div class="container-fluid" *ngIf="!mostrar">
        <div class="container">
            <div class="row flex-column flex-lg-row">
                Tu carro esta vacio
            </div>
        </div>
    </div>