<div class="container animated fadeIn fast">

    <h1>Mi Carro</h1>
    <hr>

    <div class="container">

        <div class="row">
            <img class="img" style="width: 137px;" src="../../../assets/sunglasses/2.jpg" alt="">
            <div class="col-xs-6 ml-4">
                <div class=" font-weight-bold">Gafas A</div>
                <div class="m-2"></div>
                <div>$ 180.000</div>
                <div style="margin-bottom: 5rem;"></div>

                <div class="btn-group btn-block" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-danger">-</button>
                    <button disabled type="button" class="btn btn-outline-secondary">1</button>
                    <button type="button" class="btn btn-outline-success">+</button>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <img class="img" style="width: 137px;" src="../../../assets/sunglasses/3.jpg" alt="">
            <div class="col-xs-6 ml-4">
                <div class=" font-weight-bold">Gafas B</div>
                <div class="m-2"></div>
                <div>$ 190.000</div>
                <div style="margin-bottom: 5rem;"></div>

                <div class="btn-group btn-block" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-danger">-</button>
                    <button disabled type="button" class="btn btn-outline-secondary">2</button>
                    <button type="button" class="btn btn-outline-success">+</button>
                </div>
            </div>
        </div>

        <hr>

        <div class="row align-items-center">
            <h3>Subtotal:</h3>
            <div class="ml-5">
                <h5>$ 560.000</h5>
            </div>
        </div>


    </div>