<form class="container" [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Registrarse.</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div class="row">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Nombres" formControlName="name">
                    <mat-error *ngIf="formulario.controls['name'].hasError('required')">
                        Los nombres son <strong>requeridos</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Apellidos" formControlName="lastName">
                    <mat-error *ngIf="formulario.controls['lastName'].hasError('required')">
                        Los apellidos son <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="formulario.controls['email'].hasError('required')">
                        El email es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Contraseña" formControlName="password">
                    <mat-error *ngIf="formulario.controls['password'].hasError('required')">
                        La contraseña es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Repetir contraseña" formControlName="passwordSecure">
                    <mat-error *ngIf="formulario.controls['passwordSecure'].hasError('required')">
                        La contraseña es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button style="width: -webkit-fill-available;" mat-raised-button color="primary"
                type="submit">Registrarse</button>

        </mat-card-actions>
    </mat-card>
</form>