<div fxLayout="column" fxFlexFill>
    <h1 style="text-align: center; border:20px;">Acerca de nosotros</h1>
    <hr style="width: 95%;">

    <div id="separador"></div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>Nuestra historia</h1>
        <hr>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed quibusdam quia tempore impedit dolorum illum. Quia accusantium repudiandae unde optio dicta atque laboriosam, impedit, quam, asperiores quidem dolores modi doloribus. Aliquip non ex
            esse Lorem nisi cillum sunt magna eiusmod mollit consectetur duis id aute. Excepteur commodo adipisicing deserunt magna. Nulla Lorem incididunt magna exercitation id Lorem exercitation sit velit duis ut nisi et. Pariatur exercitation laborum
            ut reprehenderit consequat. Eu nisi adipisicing aliqua tempor dolor ut amet velit dolor. Ex officia do deserunt officia consequat consectetur in excepteur sit tempor ullamco ad ex tempor. Laboris qui eiusmod irure elit eiusmod duis et et veniam
            quis officia ea. Amet id velit ut incididunt. Sint irure enim do in et consequat culpa sit irure enim incididunt reprehenderit. Exercitation ipsum aute quis velit veniam ut est sunt irure velit deserunt voluptate sunt. Velit dolore est ullamco
            incididunt ad sint. Ipsum aliquip ut tempor aliquip elit incididunt reprehenderit anim sunt nisi dolor laboris labore id. Eu sint culpa esse consectetur pariatur consequat et incididunt anim cillum irure velit.</p>
    </div>

    <div id="separador"></div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>Visión</h1>
        <hr>
        <p>Duis velit aute veniam sunt occaecat commodo pariatur elit laboris magna non ea. Labore ex cupidatat ex fugiat occaecat dolore consequat ex magna excepteur ad consequat tempor anim. Aliqua incididunt cupidatat cillum anim ea eu. Voluptate voluptate
            qui ad eiusmod deserunt. Veniam nostrud veniam exercitation consequat in amet labore sit id dolore qui dolore. Laboris reprehenderit voluptate excepteur magna Lorem cillum id irure aute aliquip labore consequat. Sunt enim ad elit excepteur.
            Minim voluptate minim reprehenderit sint veniam reprehenderit voluptate. Voluptate culpa esse mollit commodo nostrud minim in aliqua duis magna amet proident nulla. Irure exercitation et veniam incididunt quis amet laboris fugiat minim incididunt
            amet minim reprehenderit veniam. Duis Lorem magna pariatur eiusmod officia dolore. Cillum ut ad exercitation excepteur ea ea consequat officia aute est fugiat cillum fugiat. Duis cillum velit eu laborum consequat minim duis. Tempor Lorem excepteur
            cillum anim culpa sunt.</p>
    </div>
</div>