<div fxLayout="column" fxFlexFill>
    <h1 style="text-align: center; border:20px;">Acerca de nosotros</h1>
    <hr style="width:80%;">

    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>Misión</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed quibusdam quia tempore impedit dolorum illum. Quia accusantium repudiandae unde optio dicta atque laboriosam, impedit, quam, asperiores quidem dolores modi doloribus.</p>
    </div>

    <div style="margin: 20px 10px 10px 10px;"></div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>Nuestra historia</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed quibusdam quia tempore impedit dolorum illum. Quia accusantium repudiandae unde optio dicta atque laboriosam, impedit, quam, asperiores quidem dolores modi doloribus.</p>
    </div>
</div>