.main-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidenav {
    width: 200px;
}

*/ .item {
    height: 40px;
    margin-bottom: 2px;
}

.sidenav-container {
    height: 100%;
}

.sidenav .mat-toolbar {
    background: #212121;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-list-base {
    padding: 0px;
}

.espaciadorNavegador {
    flex: 1 1 auto;
}

.router {
    display: contents;
    height: 100%;
}

.form-control:focus {
    border-color: #403866;
    box-shadow: 0 0 0 0.1rem #403866;
}

@media(min-width: 957px) {
    #titulo {
        margin-left: 15px;
    }
}