<div class="container animated fadeIn fast">
    <h1>Acerca de nosotros</h1>
    <hr>
    <div class="container">

        <img class="img-fluid" src="../../../assets/sunglasses/4.jpg" alt="">
        <hr>
        <h3>¿Quiénes somos?</h3>
        <p>Ad nostrud incididunt sit non duis consequat. Labore elit laborum aute esse esse dolore mollit ex est
            consequat
            laboris velit. Exercitation labore ad in officia nisi ad laboris dolor.

            Incididunt laborum id excepteur eiusmod tempor esse in culpa. Qui pariatur amet sunt excepteur incididunt
            eiusmod culpa deserunt nulla. Esse velit ad nulla in sunt dolor incididunt velit exercitation cillum enim
            ullamco et Lorem. Incididunt aliqua voluptate Lorem qui occaecat quis. Occaecat qui anim consectetur eu
            aliquip
            non aute adipisicing quis in sint voluptate quis fugiat.</p>
        <hr>
        <img class="img-fluid" src="../../../assets/sunglasses/streets.jpg" alt="">
        <hr>
        <h3>Nuestra historia</h3>
        <p>
            Sint qui eu duis aliqua deserunt laboris sit ex veniam tempor sint. Mollit quis Lorem ut ex cupidatat mollit
            fugiat. Laboris deserunt fugiat amet voluptate aliqua irure id dolor. Nisi reprehenderit in pariatur dolor
            mollit consequat commodo nisi sunt aliqua quis duis. Eu aliquip amet esse do sint cupidatat id. Esse ipsum
            minim laborum in ex id eiusmod sit tempor.

            Do commodo ea exercitation minim qui officia velit voluptate consequat nulla. Amet irure pariatur pariatur
            aute deserunt incididunt cupidatat nulla esse ad reprehenderit. Non amet cupidatat minim Lorem do ipsum.

            Voluptate amet mollit duis voluptate Lorem dolore. Enim voluptate in deserunt elit proident et pariatur in
            et dolore ea. Esse fugiat anim non consequat nulla ullamco laborum reprehenderit fugiat.
        </p>

    </div>
</div>