<div class="container">
    <div class="card" style="max-width: 30rem;">
        <div class="card-header text-center">{{data.objeto.title}}</div>
        <!-- <h5 class="card-title"></h5> -->
        <div class="card-body text-center ">
            <p class="card-text">{{data.objeto.subtitle}}</p>

            <img class="modalito card-img-top" [src]="data.objeto.url">
        </div>
        <small></small>
        <div class="card-footer text-muted">

            <div class="btn-group btn-block mb-2" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-danger" (click)="operar('-')">-</button>
                <button disabled type="button" class="btn btn-outline-secondary">{{data.cantidad}}</button>
                <button type="button" class="btn btn-outline-success" (click)="operar('+')">+</button>
            </div>

            <button type="button" class="btn btn-outline-success btn-block" [mat-dialog-close]="data">Agregar</button>
            <button type="button" class="btn btn-outline-danger btn-block" [mat-dialog-close]="">Cancelar</button>
        </div>
    </div>
</div>