<form class="container" [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Contáctenos.</mat-card-title>
            <mat-card-subtitle>Gracias por querer saber mas acerca de nosotros. Nos encantaría saber que tienes para decirnos.<br> Por favor llena el formulario para mantenerte en contácto con nosotros en cualquier momento.<br></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <div class="row">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Nombre" formControlName="name">
                    <mat-error *ngIf="formulario.controls['name'].hasError('required')">
                        El nombre es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="formulario.controls['email'].hasError('required')">
                        El email es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Número teléfono" formControlName="phone">
                    <mat-error *ngIf="formulario.controls['phone'].hasError('required')">
                        El número teléfono es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Mensaje" formControlName="message">
                    <mat-error *ngIf="formulario.controls['message'].hasError('required')">
                        El mensaje es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button style="width: -webkit-fill-available;" mat-raised-button color="primary" type="submit">Enviar</button>
        </mat-card-actions>
    </mat-card>
</form>