<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport>
        <mat-toolbar style="color: white;">Menu</mat-toolbar>
        <mat-nav-list>

            <div class="container">
                <a class="item" mat-list-item routerLink="/add-sunglasses">Iniciar sesión</a>
                <a class="item" mat-list-item routerLink="/contact-us">Contáctenos</a>
                <a class="item" mat-list-item routerLink="/about-us">Acerca de nosotros</a>
                <!-- <a mat-list-item routerLink="/add-sunglasses">Agregar</a> -->
            </div>


        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>


        <div fxLayout="column" fxFlexFill>

            <!-- Navigation bar -->
            <mat-toolbar color="primary">

                <a routerLink="/index"><span id="titulo">Street</span></a>

                <div class="espaciadorNavegador"></div>

                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>

            </mat-toolbar>

            <!-- Views -->
            <div fxFlex>
                <router-outlet></router-outlet>
            </div>

            <!-- Footer -->
            <ifooter></ifooter>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>