.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: #212121;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.espaciador {
    flex: 1 1 auto;
}

.router {
    /* position: relative; */
    /* z-index: 1;*/
    display: block;
    margin: 100px 1px 100px 1px;
    /* overflow: auto; */
}

.foot {
    background: crimson;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

@media(min-width: 957px) {
    #titulo {
        margin-left: 15px;
    }
}