.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

#titulo {
    text-align: center;
}

.mat-h1 {
    margin-bottom: -50px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

#contenedorEspecifico {
    background-color: gold;
    display: contents;
}

.espaciador {
    flex: 1 1 auto;
}

@media(min-width: 957px) {
    .sidenav {
        display: none;
    }
    #titulo {
        margin-left: 15px;
    }
}