<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport>
        <mat-toolbar style="color: white;">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/formulario">Agregar</a>
            <a mat-list-item routerLink="/listado">Listado</a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">

            <span id="titulo">Street</span>

            <div class="espaciador"></div>

            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>

        </mat-toolbar>

        <div class="router">
            <router-outlet></router-outlet>
        </div>

        <div class="foot">
            <ifooter></ifooter>
        </div>
    </mat-sidenav-content>



</mat-sidenav-container>