/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.puntero {
    cursor: pointer;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.app-dialog .mat-dialog-container {
    padding: 2em 1em 2em 1em;
}

.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}


/* Dispositivos Moviles*/

@media (min-width:34em) {
    .modalito {
        height: 25em;
    }
    .card-img-top .tarjeta {
        height: 10em;
    }
}


/* Dispositivos Tablet*/

@media (min-width:576px) {
    .card-columns {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
    .card-img-top .tarjeta {
        height: 10em;
    }
    .modalito {
        height: 15em;
    }
}


/* Dispositivos Escritorio */

@media (min-width:1024px) {
    .card-columns {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
    .modalito {
        height: 25em;
    }
}

@media (min-width:75em) {
    .card-columns {
        column-count: 4;
        -webkit-column-count: 4;
        -moz-column-count: 4;
    }
}