<form [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Create a new account</mat-card-title>
            <mat-card-subtitle>It's quick and easy.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="First name" formControlName="firstName">
                        <mat-error *ngIf="formulario.controls['firstName'].hasError('required')">
                            First name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Last name" formControlName="lastName">
                        <mat-error *ngIf="formulario.controls['lastName'].hasError('required')">
                            Last name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="formulario.controls['email'].hasError('email') && !formulario.controls['email'].hasError('required')">
                            Please enter a <strong>valid email address</strong>
                        </mat-error>
                        <mat-error *ngIf="formulario.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="New password" formControlName="password" type="password">
                        <mat-error *ngIf="formulario.controls['password'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                        <mat-error *ngIf="formulario.controls['birthday'].hasError('required')">
                            Birthday is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Gender" formControlName="gender">
                            <mat-option *ngFor="let genders of genders" [value]="genders.abbreviation">
                                {{ genders.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formulario.controls['gender'].hasError('required')">
                            Gender is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button style="width: -webkit-fill-available;" mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>