<div class="grid-container">
    <!-- <h1 class="mat-display-2">Inventario</h1> -->

    <mat-grid-list cols="4" rowHeight="350px">

        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="example-card mat-elevation-z4">
                <mat-card-header>

                    <mat-card-title>
                        {{card.title}}
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <!-- <button mat-menu-item>Editar</button> -->
                            <button mat-menu-item (click)="eliminar(card.id)">Eliminar</button>
                        </mat-menu>
                    </mat-card-title>

                    <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>

                </mat-card-header>
                <img mat-card-image src="{{card.src}}">
                <mat-card-content>
                    <p>
                        {{card.description}}
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>

    <div style="display: flex; justify-content: center;">
        <button style="width: 80%;" type="button" color="accent" mat-raised-button routerLink="/add-sunglasses">Añadir</button>
    </div>
</div>