.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}

.mat-h1 {
    text-align: center;
    font-weight: bold;
}

mat-grid-list {
    background-color: none;
}

#tituloTarjeta {
    margin: 1px 1px -60px 1px;
}